.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    /* Default width for larger screens */
}

.option {
    font-size: 1.25rem;
    /* Larger text size */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #f8f9fa;
    /* Light grey background on hover */
}

.icon {
    width: 40px;
    /* Size of the icon */
    height: 40px;
    /* Maintain aspect ratio */
}

/* Responsive styles */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        /* Full width on small screens */
    }

    .option {
        font-size: 1rem;
        /* Slightly smaller text on mobile */
        padding: 15px;
        /* Increase padding for better touch targets */
    }

    .icon {
        width: 30px;
        /* Smaller icons on mobile */
        height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 200px;
        /* Adjust width for tablets */
    }

    .option {
        font-size: 1.1rem;
        /* Adjust text size for tablets */
        padding: 12px;
        /* Adjust padding for tablets */
    }

    .icon {
        width: 35px;
        /* Adjust icon size for tablets */
        height: 35px;
    }
}